{{- /*
For a given taxonomy, renders a list of terms assigned to the page.

@context {page} page The current page.
@context {string} taxonomy The taxonomy.

@example: {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
*/}}

{{- $page := .page }}
{{- $taxonomy := .taxonomy }}

{{- with $page.GetTerms $taxonomy }}
  {{- $label := (index . 0).Parent.LinkTitle }}
  {{- $terms := . }}
  {{- $count := len $terms }}
  <div class="tag-list-inline">
    <div>{{ $label }}:
      {{- range $idx, $term := $terms }}
        <a href="{{ $term.RelPermalink }}">#{{ lower $term.Title }}</a>{{ if lt (add $idx 1) $count }} {{ end }}
      {{- end }}
    </div>
  </div>
{{- end }}
